<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load static from staticfiles %}
<title>matts@codecave:~$ - {% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Articles about web-development, design, and other awesome stuff." />
<meta name="keywords" content="python, django, blog, tutorial, tutorials, data, pydata, data science, analysis, web, web scraping, django development, aws, web development, web-dev, design" />
</head>
<body>
<!-- Layout version: Pennsylvania-->
<div style="position:absolute;height:50%;width:100%;background-color:#fff;top:0;left:0;">
</div>
<div id="main">

    
    <div id="body">
    

        <div id="wrap">
                <div id="header">
            
            <a id="header_a" href="/feed">
                <img src="{% static "gears.svg" %}" alt="Logo of gears" />
            </a>
            <h1 id="header_h"><a class="post" href="/">matts@codecave:~$</a></h1>

                </div>
        
            <div id="menu"><div style="margin:10px 0;">{% block menu %}
                <a class="button" href="https://github.com/sirMackk">My GitHub</a></div>  
            <p class="menu">
            Recent posts:</p>
            {% for rp in recs %}
            <p><a class ='post' href="{{ rp.get_absolute_url }}">{{ rp.title }}</a></p>
            {% endfor %}
            <p class="menu">
            Categories:</p>
            {% for c in categories %}
            <p><a class='post' href="{{ c.get_absolute_url }}">{{ c.name }}</a></p>
            {% endfor %}
            {% endblock %}

            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            
        <div id="footer">
        <p class="footer">{% block footer %}
            &copy; 2013 Matt</p>
            <a class="post footer" href="/about">[About]</a>{% endblock %}
            
        </div>
    
        </div>

    
    

    </div>

</div>
</body>
</html>
