{% extends "base.html" %}
{% load comments %}
{% block content %}

{% for p in posts %}

<h2 class="post"><a class="post" href="{{ p.get_absolute_url }}">{{ p.title|safe }}</a></h2>
<p class="timestamp">Written by {{ p.author }} on {{ p.time }}</p>
<p>{{ p.description|safe }}</p>

{% endfor %}
<p>
{% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}">Newer posts</a>
{% endif %}
{% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}">Older posts</a>
{% endif %}

{% endblock %}

